//
//  StellarPad with LM4F120H5QR.xcconfig 
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//
//  Project embedXcode19
//  Created by Rei VILO on 24/10/12
//  Copyright © 2012 http://embedxcode.weebly.com
//  Licence CC = BY SA NC
//

// Board identifier
// see Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = lplm4f120h5qr

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.usbmodem*

// References for Xcode code-sense
// see Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
// specify ARDUINO_APP for Arduino, MPIDE_APP for Mpide,
//   WIRING_APP for Wiring, ENERGIA_APP for Energia,
//   MAPLE_APP for MapleIDE, TEENSY_APP for Teensy
//
GCC_PREPROCESSOR_DEFINITIONS = __LM4F120H5QR__
HEADER_SEARCH_PATHS = $(ENERGIA_APP)/** $(SKETCHBOOK_DIR)/Libraries/**
